{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主界面{% endblock %}

{% block content %}
        <!-- 幾台與phase選擇 -->

    <div id="content-wrapper">

      <div class="container-fluid">


        <!-- Breadcrumbs-->
            <form class='form-Test' action="/index/" method="POST">
               <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item">
                 <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li> -->
                 <div class="input-group-sm">
    {#			    <span class="input-group-addon" style="padding-right: 5px;">Project</span><input type="text" class="form-control-sm" >#}
                    <span class="input-group-addon" style="padding-left: 25px;padding-right: 5px">Customer</span><select class="form-control-sm" name="Customer">
                                    <option value="Selected Customer">Selected Customer</option>
                                    <option value="C38(NB)">C38(NB)</option>
                                    <option value="C38(AIO)">C38(AIO)</option>
                                    <option value="A39">A39</option>
                                    <option value="Other">Other</option>
                                  </select>
                    {% if messagec %}
                        <div class="alert alert-warning" style="margin-left: 25px;">{{ messagec }}</div>
                    {% endif %}
                 </div>
                 <div class="input-group-sm">
    {#			    <span class="input-group-addon" style="padding-right: 5px;">Project</span><input type="text" class="form-control-sm" >#}
                    <span class="input-group-addon" style="padding-left: 25px;padding-right: 5px">Phase</span><select class="form-control-sm" name="Phase">
                                    <option value="Selected Phase">Selected Phase</option>
                                    <option value="B(FVT)">B(FVT)</option>
                                    <option value="C(SIT)">C(SIT)</option>
                                    <option value="INV">INV</option>
                                    <option value="Other">Other</option>
                                  </select>
                    {% if messagep %}
                        <div class="alert alert-warning" style="margin-left: 25px;">{{ messagep }}</div>
                    {% endif %}
                 </div>
               </ol>
               <!-- <div class="container-fluid"> -->
            <div class="breadcrumb">
                <!-- <div class="row"> -->
                    <div class="col-md-4">
                        <div class="card-body">
                        <div class="input" style="padding-top: 30px;">
                            <center>
                                   Units<Br> <input type="text" class="form-control-sm" name="Units" >
                            </center>
                        <!-- </div> -->
                            {% if message %}
                                <div class="alert alert-warning" style="margin-left: 20px;">{{ message }}</div>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                        <div class="input" style="padding-top: 30px;">
                            <center>
                                Item<Br> <input type="text" class="form-control-sm" name="Item">
                            </center>
                            {% if messagei %}
                                <div class="alert alert-warning" style="margin-left: 20px;">{{ messagei }}</div>
                            {% endif %}
                    <!-- </div> -->
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                        <div class="input"style="padding-top: 30px;">
                        <center>
                       Comments<Br> <input type="text" class="form-control-sm" name="Comments">
                      </center>
                    <!-- </div> -->
                        </div>
                        </div>
                    </div>

                  <div class="col-md-4 offset-4">
                    {% if message_se %}
                        <div class="alert alert-warning">{{ message_se }}</div>
                    {% endif %}
                  </div>

                    <div class="col-md-1 offset-4"style="padding-top: 30px;">
                        <button type="submit" class="btn btn-primary" {{ actstatus }} name="start">Start</button>
                        {% csrf_token %}
                    </div>
                    <div class="col-md-1 offset-2" style="padding-top: 30px;">
                        <button type="submit" class="btn btn-danger" {{ actstatus_end }} name="end">End</button>
                        {% csrf_token %}
                    </div>
                    <div class="col-md-12" style="padding-top: 30px;">
                      <meta http-equiv="Refresh" content="60">

                        <div class="card-header">

                        <i class="fas fa-table"></i>

                        Plan list under testing</div>

                        <div class="card-body">

                        <div class="table-responsive" style="max-height: 500px;">

                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>

                              <tr>

                                <th>Customer</th>
                                <th>Project</th>
                                <th>Unit</th>
                                <th>Phase</th>
                                <th>Item</th>
                                <th>Tester</th>
                                <th>Start_time</th>
                                <th>End_time</th>
                                <th>Comments</th>
                              </tr>

                              <tbody>

                                  {% for line in test_list %}
                                        <tr>
                                            <td>{{line.Customer}}</td>
                                            <td>{{line.Project}}</td>
                                            <td>{{line.Unit}}</td>
                                            <td>{{line.Phase}}</td>
                                            <td>{{line.Testitem}}</td>
                                            <td>{{line.Tester}}</td>
                                            <td>{{line.Start_time}}</td>
                                            <td>{{line.End_time}}</td>
                                            <td>{{line.Comments}}</td>
                                        </tr>
                                  {% endfor %}

                              </tbody>

                            </thead>

                          </table>

                        </div>

                      </div>



                    </div>

    </div>

    </form>

      </div>

    </div>

{% endblock %}